html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}
*,*::before,*::after{
  box-sizing: border-box;
}
body {
  font: 14px/1.9 'Noto Sans JP', Arial, Verdana, 游ゴシック, YuGothic,'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', メイリオ, Meiryo,sans-serif;
  font-weight: 300;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;
  color: #000;
  background: #d0d0d0;
}

.top-nav a{
  text-decoration: none;
  color: black;
  padding-right: 25px;
}
.top-nav a:hover{
  text-decoration: underline;
}

#mainnav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 500;
}
#mainnav a {
  color: #000;
}
#mainnav.changeNav {
  background: rgba(255,255,255,.9);
  border-bottom: 1px solid #d1d1d1;
}
nav {
  display: block;
}
.panel {
  display: block !important;
}
#mainnav ul {
  text-align: right;
  padding-right: 30px;
}
ul {
  list-style: none;
}
#mainnav a{
  text-decoration: none;
}
#mainnav a:hover{
  text-decoration: underline;
}
#mainnav.changeNav li {
  padding: 20px 10px;
}
#mainnav li {
  display: inline-block;
  padding: 45px 10px 20px;
  font-size: 14px;
  font-weight: 300;
}
.responsive-nav{
  background-color: white;
}
.responsive-nav ul{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: auto;
}
.responsive-nav a{
  color: #000;
  text-decoration: none;
}
.responsive-nav  a:hover{
  text-decoration: underline;
}
.top-img{
  width: auto;
  margin: 0 auto;
  position: relative;
}
.top-img img{
  width: 100%;
}
.top-h{
  width: 50%;
  position: absolute;
  color: white;
  top: 50%;
  left: 40%;
}
.top-h h1{
  font-size: 40px;
  font-family: 'Pacifico', cursive;
}
.top-h h2{
  font-size: 18px;
}
.vision{
  width: 60%;
  margin: 0 auto;
  padding-top: 80px;
  padding-bottom: 80px;
}
.vision h3{
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 35px;
}

.message-photo{
  display: flex;
}
.message-photo img{
  width: 50%;
}
.message{
  height: 100%;
  text-align: center;
  margin: auto;
  padding:  120px;
  background-color: rgba(179, 172, 172, 0.658);
}
.message h3{
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 20px;
}

.service-wrapper{
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.service{
  width: 28%;
  margin: 70px auto;
  text-align: center;
}
.service h3{
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 10px;
}
.service img{
  width: 100%;
  margin-bottom: 10px;
}
.story-wrapper{
  width: 100%;
  display: flex;
  color: white;
  text-align: center;
  background-image: url(image/bgSec04.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.story{
  width: 30%;
  margin: 80px auto;
}
.story h3{
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: 400;
  line-height: 1.5;
}
.profile-wrapper{
  display: flex;
  width: 90%;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 80px;
}
.profile{
  width: 50%;
}
.profile li{
  list-style: none;
}
.profile dt{
  width: 25%;
  display: block;
  clear: left;
  float: left;
  margin-bottom: 20px;
  text-align: right;
}
.profile dd{
  width: 60%;
  display: block;
  float: right;
  margin-right: 0px;
  margin-bottom: 20px;
  text-align: left;
}
.profile a{
  text-decoration: none;
  color: #0066cc;
}
.profile a:hover{
  text-decoration: underline;
}
.profile-wrapper .ggmap{
  width: 50%;
  height: auto;
  padding-left: 70px;
}
.profile-wrapper .ggmap  iframe{
    width: 80%;
    height: 80%;
}

footer{
  text-align: center;
  font-size: 12px;
  padding-bottom: 30px;
}
footer a{
  color: #0066cc;
}
